<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/sem_notes.css" rel="stylesheet"/>

    
    <title>Document</title>
</head>

<body>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="upload-form">
            <h3>Upload/Download Notes</h3>
            <div class="mb-3">
              <label for="folder" class="form-label">Select Destination Folder:</label>
              <form method="get" action="/notes/sem1" id="login-form" class="login-form "  autocomplete="off" role="main">
                <!-- <button>Log Out</button> -->
                <input type="submit" value="Sem1" >
              </form>
              <form method="get" action="/notes/sem2" id="login-form" class="login-form "  autocomplete="off" role="main">
                <!-- <button>Log Out</button> -->
                <input type="submit" value="Sem2">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</body>
</html>



