<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Folder A</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.4.3/dist/css/bootstrap.min.css">
  <link href="../css/sem_notes.css" rel="stylesheet"/>
  <style>
    .upload-form {
      max-width: 400px;
      margin: 0 auto;
      margin-top: 50px;
    }
  </style>
</head>

<body>
    <body>
        <div class="container">
          <div class="row">
            <div class="col-md-6 offset-md-3">
              <div class="upload-form">
                <h3>Upload/Download Notes</h3>
                <div class="mb-3">
                  <label for="folder" class="form-label">Select Destination Folder:</label>
                  <form method="get" action="/notes/sem1/PFC" id="login-form" class="login-form "  autocomplete="off" role="main">
                    <!-- <button>Log Out</button> -->
                    <input type="submit" value="PFC">
                  </form>
                  <form method="get" action="/notes/sem1/FEE" id="login-form" class="login-form "  autocomplete="off" role="main">
                    <!-- <button>Log Out</button> -->
                    <input type="submit" value="FEE">
                  </form>
                  <form method="get" action="/notes/sem1/ITP" id="login-form" class="login-form "  autocomplete="off" role="main">
                    <!-- <button>Log Out</button> -->
                    <input type="submit" value="ITP">
                  </form>
                  <form method="get" action="/notes/sem1/LAL" id="login-form" class="login-form "  autocomplete="off" role="main">
                    <!-- <button>Log Out</button> -->
                    <input type="submit" value="LAL">
                  </form>
                  <form method="get" action="/notes/sem1/PHY" id="login-form" class="login-form "  autocomplete="off" role="main">
                    <!-- <button>Log Out</button> -->
                    <input type="submit" value="PHY">
                  </form>
                  <form method="get" action="/notes/sem1/POM" id="login-form" class="login-form "  autocomplete="off" role="main">
                    <!-- <button>Log Out</button> -->
                    <input type="submit" value="POM">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </body>
    
</body>

</html>
